*{
    margin: 0;
    padding: 0;
}
.grid_container{
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas:
    "header header"
    "content-1 spam-1"
    "content-2 spam-1"
    "content-2 spam-2"
    "content-3 spam-2"
    "footer footer"
}
header{
    grid-area: header;
    background: #8D8484;
}
footer{
    grid-area: footer;
    background: #BDBDBD;
}
.content-1{
    grid-area: content-1;
    background: #776969;
}
.content-2{
    grid-area: content-2;
    background: #643030;
}
.content-3{
    grid-area: content-3;
    background: #441818;
}
.spam-1{
    grid-area: spam-1;
    background: #937575;
}
.spam-2{
    grid-area: spam-2;
    background: #644C4C;
}
.grid_container header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.grid_container section, aside{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;;
    font-family: Inter, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
