*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    animation: ColorChange 3s infinite linear;
}
div img{
    width: 10%;
    height: auto;
    animation: move 3s infinite linear;
}
/*----------animation------------------*/
@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100vw);
    }
}
@keyframes ColorChange{
    from{
        background-color: #1ad6d0;
    }
    30%{
        background-color: #dc7db0;

    }
    70%{
        background-color: #fb6b83;
    }
    to{
        background-color: #b9a5e3;
    }
}
