@media screen and (min-width: 768px) and (max-width: 1199px) {
    .wrapper {
        flex-wrap: wrap;
        padding: 64px 48px;
    }
    .block{
        width: 348px;
    }
    .block p{
        height: 44px;
    }
    .wrapper .block:nth-child(3) img,
    .wrapper .block:nth-child(4) img{
        margin-top: 40px;
    }
}
