*{
    margin: 0;
}
.grid_wrapper{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 27% auto 27%;
    grid-template-rows: 22% auto 22%;
    grid-template-areas:
            "headerG headerG headerG"
            "asideG mainG asideGG"
            "footerG footerG footerG";
}
.asideG{
    background: #C0BDBD;
    grid-area: asideG;
}
.asideGG {
    background: #C0BDBD;
    grid-area: asideGG;
}
.mainG{
    background: #A4A4A4;
    grid-area: mainG;
}
.headerG{
    grid-area: headerG;
    background: #D9D9D9;
}
.footerG{
    grid-area: footerG;
    background: #D9D9D9;
}
