*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
}
div img{
    width: 15vw;
    height: auto;
    animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
