*{
    margin: 0;
}
.wrap-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 27% auto 27%;
    grid-template-rows: 22% 26% 30% 22%;
    grid-template-areas:
    "header header header"
    "left_as sect_top right_as"
    "left_as sect_bottom right_as"
    "footer footer footer"
}
header{
    grid-area: header;
    background: #D9D9D9;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}
.left_as{
    grid-area: left_as;
    background: #C0BDBD;
}
.right_as{
    grid-area: right_as;
    background: #C0BDBD;
}
.sect_top{
    grid-area: sect_top;
    background: #827878;
}
.sect_bottom{
    grid-area: sect_bottom;
    background: #B7ADAD;
}
