@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #44a89d;
}
h1{
    font-size: 25px;
    font-weight: normal;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}
form{
    width: 30vw;
    height: 45vh;
    border-radius: 15px;
    background-color: white;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    background-color: rgba(68, 168, 157, 0.34);
    font-size: 30px;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
.checkbox_submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    gap: 100px;
}
input[type="text"], input[type="password"]{
    width: 20em;
    height: 2em;
}
input[type="submit"]{
    width: 5em;
    height: 2em;
    border-radius: 15px;
    background-color: rgba(68, 168, 157, 0.34);
    border: 1px solid darkgray;
}
